In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

file_path = r"C:\Users\DELL\Downloads\final_cleaned_tips_data.csv" 
df = pd.read_csv(file_path)

print("Head of the dataset:")
display(df.head())

print("Info:")
df.info()

print("\nSummary statistics:")
display(df.describe())

if 'review_count' in df.columns:
    plt.figure(figsize=(10, 6))
    sns.histplot(df['review_count'], bins=50, kde=True)
    plt.title('Distribution of Review Count')
    plt.xlabel('Review Count')
    plt.ylabel('Frequency')
    plt.show()

Head of the dataset:

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908836 entries, 0 to 908835
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908836 non-null  object
 1   business_id       908836 non-null  object
 2   text              908822 non-null  object
 3   date              908836 non-null  object
 4   compliment_count  908836 non-null  int64
dtypes: int64(1), object(4)
memory usage: 34.7+ MB

Summary statistics:

       compliment_count
count     908836.000000
mean           0.012526
std            0.120769
min            0.000000
25%            0.000000
50%            0.000000
75%            0.000000
max            6.000000

In [ ]:
df_tips = pd.read_csv(r"C:\Users\DELL\Downloads\final_cleaned_tips_data.csv")  

filtered_business = pd.read_csv("C:/Users/DELL/Downloads/filtered_business_data.csv")

food_business_ids = set(filtered_business['business_id'])
df_tips = df_tips[df_tips['business_id'].isin(food_business_ids)]

df_reviews = pd.read_csv("C:/Users/DELL/Downloads/cleaned_review_food.csv")
valid_user_ids = set(df_reviews['user_id'])
df_tips = df_tips[df_tips['user_id'].isin(valid_user_ids)]

df_tips = df_tips[df_tips['compliment_count'] > 0]

print(len(df_tips))
print(df_tips.head(10))

499
                       user_id             business_id  \
8431    CYtKqfxO78q8MN6HX2JnDg  Mgcgy5ZCZvwzggV5xausug
74100   6s5whJLSvZFIF0Am4RyjUg  dsKwDe5Mw_SiDBl3d4t1yQ
82785   ow-Xzd5e8gMmHG4Du5SBQA  2rOBCDR32E8GXAya75ae9w
116946  dWTrJdEPoZB8LkOPv_jxsA  sihT-_DtwOdnDDDJbXN22A
119194  __QLyY_W06q10ZfBQg7Dcg  eiisxF0hNC3RHU3A7iva-g
131425  IPcgVWB-KXlb5bqt8fqE0Q  -xxPdDMPm80ogHx_hgishw
131465  ILKSYMWKPhollNtqEn-Z4w  shmNcjICpPMrbo-sjJ0mQw
140193  3YhG4h4Ok654iVfqdmkuRg  Dzb6tHPsm3CyVubJm3Cd3A
143381  pe9JW-UCH8XzOUt_TWr3eA  NVrDBWqUVw-59RpriLG6yA
145223  UWdOL82q9qnsSZ85f4ZQPg  7v3LpK_fNAOi_KLoMbt--Q

                                                     text                date  \
8431                         Ask for the thin crust pizza 2018-03-20 10:34:36
74100               Best Shrimp Tacos you will ever find. 2018-05-02 16:17:36
82785       40$ groupon for only 20$ frequently available 2018-04-29 23:20:21
116946  They now have a breakfast porter that's maple ... 2018-02-10 03:58:53
119194  B2G1F empanadas or Buy an entree get an empana... 2018-03-22 16:10:45
131425  So so so expensive....walked in saw the prices... 2018-01-12 20:48:54
131465                 3:25 on a Monday they were closed. 2018-05-14 19:26:22
140193  Don't be misled - this is not true Hawaiian po... 2018-04-30 23:29:29
143381                    Don't waste your time here !!!! 2018-07-02 15:55:00
145223  My favorite condiment for tacos is pickled oni... 2019-07-07 02:09:12

        compliment_count
8431                   1
74100                  1
82785                  1
116946                 1
119194                 1
131425                 1
131465                 1
140193                 1
143381                 1
145223                 1

In [13]:

# Save the filtered user DataFrame to a CSV in the working directory
df_tips.to_csv(r"C:\Users\DELL\Downloads\filtered_tips_data.csv", index=False)